<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Meme-Maker</title>
</head>
<body>
  <div class="content-center vertical">
    <section class="img-upload-section">
      <form class="img-form" action="/referIMG" method="POST">
        <input type="url" disabled>
        <button type="submit" disabled>Upload</button>
      </form>
      <form class="img-form" action="/uploadIMG" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="sessionID" value="<%= sessionID %>">
        <input id="meme-background" type="file" class="visuallyhidden" name="meme" required>
        <label for="meme-background">Open File</label>
        <button type="submit">Upload</button>
      </form>
    </section>
  </div>
</body>
</html>
