<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Meme-Maker</title>
</head>
<body>
  <form action="/referIMG" method="POST">
    <input type="url">
    <button type="submit">Upload</button>
  </form>
  <form action="/uploadIMG" method="POST">
    <input type="file">
    <button type="submit">Upload</button>
  </form>
</body>
</html>
